.DS_Store
build.log
build
npm-debug.log
tmp
/build
/.settings
/app/lib/data_jobtrain
/app/lib/data_mercycorps
/app/lib/data_mmrf
/app/lib/data_roomtoread
/app/lib/data_stophungernow
/app/lib/data_specialolympics
/app/lib/data_mjff
/app/lib/data_avril
/charitiBuildAll
/app/lib/data_chariti/