{
        /* NOTE: DO NOT USE THE MASTER SECRET */
        "APP_STORE_OR_AD_HOC_BUILD" = NO; /* set to YES for production builds */
        "DEVELOPMENT_APP_KEY" = "Your development app key";
        "DEVELOPMENT_APP_SECRET" = "Your development app secret";
        "PRODUCTION_APP_KEY" = "Your production app key";
        "PRODUCTION_APP_SECRET" = "Your production app secret";
}