<Alloy>
	<View id="Wrapper" name="Settings">
		<Require type="widget" src="com.mcongrove.navigationBar" id="NavigationBar" image="data/logo.png" />
		
		<ScrollView id="container">
			<TableView id="legal_table" height="90dp">
				<TableViewRow id="terms" title="Terms of Service" hasChild="true" />
				<TableViewRow id="privacy" title="Privacy Policy" hasChild="true" />
			</TableView>
			
			<TableView id="logs_table" height="90dp">
				<TableViewRow id="logs" title="Send Application Logs" hasChild="true" />
				<TableViewRow id="acknowledgements" title="Acknowledgements" hasChild="true" />
			</TableView>
			
			<Label id="copyright" />
			<Label id="version" />
			<Label text="This application was created using the open source ChariTi framework, freely available at:\nhttp://chariti.mobi" />
			<Label id="chariti" />
		</ScrollView>
	</View>
</Alloy>