<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
            <key>Title</key>
            <string>ChariTi thanks the following for their help and inspiration throughout this project:</string>
            <key>Type</key>
            <string>PSGroupSpecifier</string>
        </dict>
		<dict>
            <key>Title</key>
            <string>Rick Blalock, Tony Lukasavage, Dennis Ashby, Elyse Phillips, Gregory DiPaolo, Mark Aronica, Sandeep Johri, Jeff Haynie, Maria Lu and the rest of the team at Appcelerator, Ray Miranda, Ivan Mathy, Oleg Polyakov, Mads Moller, and the entire crowd of developers at Appcelerator's 2012 Hack-to-Help.</string>
            <key>Type</key>
            <string>PSGroupSpecifier</string>
        </dict>
	</array>
	<key>StringsTable</key>
	<string>Root</string>
</dict>
</plist>
